@{ Layout = "_LayoutLogin"; }
<!--begin::Form-->
<form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" data-kt-redirect-url="/Revendas/Login" action="#">
    <!--begin::Heading-->
    <div class="text-center mb-11">
        <!--begin::Title-->
        <h1 class="text-gray-900 fw-bolder mb-3">
            Novo Cadastro
        </h1>
        <!--end::Title-->
    </div>
    <!--begin::Heading-->
    <!--begin::Input group--->
    <div class="fv-row mb-8">
        <!--begin::Email-->
        <input type="text" placeholder="Nome" name="nome" autocomplete="off" class="form-control bg-transparent" required />
        <!--end::Email-->
    </div>
    <div class="fv-row mb-8">
        <!--begin::Email-->
        <input type="text" placeholder="E-mail" name="email" autocomplete="off" class="form-control bg-transparent" required />
        <!--end::Email-->
    </div>
    <div class="fv-row mb-8">
        <!--begin::Email-->
        <input type="text" placeholder="CPF" name="cpf" autocomplete="off" class="form-control bg-transparent" required />
        <!--end::Email-->
    </div>
    <div class="fv-row mb-8">
        <!--begin::Email-->
        <input type="text" placeholder="Telefone" name="telefone" autocomplete="off" class="form-control bg-transparent" required />
        <!--end::Email-->
    </div>
    

    <!--begin::Submit button-->
    <div class="d-grid mb-10">
        <button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
            <!--begin::Indicator label-->
            <span class="indicator-label">
                Enviar
            </span>
            <!--end::Indicator label-->
            <!--begin::Indicator progress-->
            <span class="indicator-progress">
                Please wait...    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
            <!--end::Indicator progress-->
        </button>
    </div>
    <!--end::Submit button-->
    <!--begin::Sign up-->
    <div class="text-gray-500 text-center fw-semibold fs-6">
        Possui acesso?
        <a href="/Revendas/Login" class="link-primary">
            Login
        </a>
    </div>
    <!--end::Sign up-->
</form>
<!--end::Form-->